:root {
  --white: hsl(0, 0%, 100%);
  --light-gray: hsl(0, 0%, 98%);
  --dark-gray: hsl(0, 0%, 52%);
  --dark-blue-lmt: hsl(200, 15%, 8%);
  --dark-blue-dmbg: hsl(207, 26%, 17%);
  --dark-blue: hsl(209, 23%, 22%);
  --shadow-main: rgba(200,200,200, 1);
  --shadow-inputs: rgba(0,0,0,0.15);
}

body {
  background-color: var(--light-gray);
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
}

#app {
  margin-bottom: 30px;
  width: 100%;
}

#app-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  
  background-color: var(--white);
  box-shadow: 0px 0px 10px 0px var(--shadow-main);
  height: 80px;
  margin-bottom: 10px;
  width: 100%;
}

#app-header h3 {
  color: var(--dark-blue-lmt);
  font-weight: 900;
  margin-left: 20px;
}

#dark-mode {
  background-color: var(--white);
  border: none;
  color: var(--dark-blue-lmt);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  height: 25px;
  margin: 20px 20px 0 0;
  outline: none;
  width: 110px;
}

.fa-moon {
  font-weight: 500;
  margin-left: -5px;
  margin-right: 10px;
}

#main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  height: auto;
  width: 100%;
}

#search-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  
  background-color: var(--light-gray);
  position: relative;
  height: 150px;
  width: 99%;
}

.icon-tabler-search {
  position: absolute;
  left: 10px;
}

input[type=text] {
  background-color: var(--white);
  background-repeat: no-repeat;
  background-position: 15px center;
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px var(--shadow-inputs);
  box-sizing: border-box;
  font-size: 14px;
  height: 45px;
  letter-spacing: 0.5px;
  margin-left: 5vw;
  outline: none;
  padding: 10px;
  text-indent: 35px;
  width: 90vw;
}

input[type=text]::placeholder {
  color: var(--dark-gray);
}

.filterButton {
  background-color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px var(--shadow-inputs);
  color: var(--dark-blue-lmt);
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  height: 45px;
  margin-top: 20px;
  margin-left: 5vw;
  outline: none;
  padding: 10px;
  text-align: left;
  text-indent: 20px;
  width: 180px;
}

.filterButton:hover {
  background-color: var(--dark-gray);
  color: var(--white);
}

.filterButton:hover > .icon-tabler-chevron-down {
  stroke: var(--white);
}

.icon-tabler-chevron-down {
  height: 24px;
  margin-left: 20px;
  stroke: var(--dark-blue-lmt);
  vertical-align: middle;
  width: 24px;
}

.menu {
  display: flex;
  flex-direction: column;

  background-color: var(--white);
  border: none;
  border-radius: 5px;
  box-shadow: 0 2px 3px var(--shadow-inputs);
  box-sizing: border-box;
  margin-top: 10px;
  position: absolute;
  top: 130px;
  left: 5vw;
  width: 50vw;
  z-index: 10;
}

.menu:first-child {
  padding-top: 10px;
}

.menu button {
  background-color: var(--white);
  border: none;
  box-sizing: border-box;
  color: var(--dark-blue-lmt);
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  outline: none;
  padding: 10px 5px;
  text-align: left;
  text-indent: 20px;
}

.menu button:hover {
  background-color: var(--dark-gray);
  color: var(--white)
}

a {
  color: inherit;
  text-decoration: none;
}

a:visited {
  color: inherit;
}

#back-button {
  background-color: var(--white);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 10px 0px var(--shadow-main);
  box-sizing: border-box;
  color: var(--dark-blue-lmt);
  cursor: pointer;
  font-size: 14px;
  height: 35px;
  margin: 25px 0 45px 0;
  outline: none;
  width: 100px;
}

.icon-tabler-arrow-narrow-left {
  height: 24px;
  margin-right: 5px;
  margin-top:  -1px;
  stroke: var(--dark-blue-lmt);
  vertical-align: middle;
  width: 24px;
}

.back-text {
  vertical-align: middle;
}

.card {
  background-color: var(--white);
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px var(--shadow-main)
}

.card-body {
  border-radius: 5px;
}

.country-flag {
  border-radius: 5px 5px 0 0;
  object-fit: cover;
}

.card-title {
  color: var(--dark-blue-lmt);
  font-weight: 800;
}

.card-info {
  color: var(--dark-blue-lmt);
  font-size: 14px;
  font-weight: 300;
  margin-top: -5px;
}

.card-info-bold {
  font-weight: 600;
  margin-right: 5px;
}

.card-title-detail {
  color: var(--dark-blue-lmt);
  font-weight: 800;
}

.card-info-detail {
  color: var(--dark-blue-lmt);
  font-size: 16px;
}

.border {
  color: var(--dark-blue-lmt);
  font-weight: 800;
}

#border-grid div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: var(--white);
  border: none;
  border-radius: 3px;
  box-shadow: 0px 0px 5px -1px var(--shadow-main);
  box-sizing: border-box;
  color: var(--dark-blue-lmt);
  height: 35px;
  padding: 10px;
}

@media only screen and (max-width: 450px) {

  .icon-tabler-search {
    top: 30px;
    left: 30px;
  }
  
  .card {
    height: 400px;
    margin: 40px 15vw;
    width: 70vw;
  }
  
  .card-body {
    width: 70vw;
  }

  .country-flag {
    height: 200px;
    width: 100%;
  }

  .card-title {
    font-size: 18px;
    margin-left: 30px;
  }

  .card-info {
    margin-left: 30px;
  }

  .detail-container {
    width: 100%;
  }

  .country-flag-detail {
    height: 250px;
    width: 350px;
  }

  .card-title-detail {
    font-size: 18px;
  }

  .separator {
    margin-top: 50px;
  }

  .card-info-detail-bold {
    color: var(--dark-blue-lmt);
    font-weight: 600;
  }

  .listed-value {
    color: var(--dark-blue-lmt);
    display: inline;
    margin-left: 5px;
  }

  .rmarg {
    margin-right: 5px;
  }

  .bottom {
    margin-top: 15px;
  }

  .border {
    font-size: 18px;
  } 

  #border-grid {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 10px;

    height: auto;
    margin-top: -10px;
    margin-bottom: 30px;
    width: 100%;
  }

  #border-grid div {
    font-size: 14px;
    width: 100%;
  }

}

@media only screen and (min-width: 451px ) {

  #countries-container {
    background-color: var(--light-gray);
    box-sizing: border-box;
    width: 99%;
  }

  #search-section {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  
    position: relative;
    height: 150px;
    margin-left: 8vw;
    width: 78vw;
  }

  input[type=text] {
    margin-left: 0vw;
    width: 30vw;
  }

  #filter-container {
    position: relative;
  }

  .filterButton {
    margin-top: 0;
  }

  .menu {
    position: absolute;
    top: 45px;
    right: 70vw;
    width: 200px;
  }

  #grid-container {
    background-color: var(--light-gray);
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 15vw 15vw 15vw 15vw;
    grid-template-rows: 300px;

    margin-left: 8vw;
    grid-column-gap: 6vw;
    grid-row-gap: 75px;
    margin-top: 10px;
    
    height: auto;
    width: 20vw;
  }

  a {
    position: relative;
    width: 100%;
  }

  .card {
    height: 300px;
    padding-bottom: 20px;
    position: relative;
    width: 200px;
  }
  
  .card-body {
    width: 15vw;
  }

  .country-flag {
    height: 125px;
    width: 200px;
  }

  .card-title {
    font-size: 16px;
    margin-left: 12%;
  }

  .card-info {
    margin-left: 12%;
  }
  
  #app-header h3{
    margin-left: 50px;
  }

  #dark-mode {
    margin-right: 50px;
  }

  #detail-parent {
    background-color: var(--light-gray);
    overflow: hidden;
    width: 100%;
  }

  .detail-container-content {
    display: grid;
    grid-template-columns: 50% 5% 5% 5% 5% 5% 5% 5% 5% 5% 5%;
    grid-row: 99% 1%;
    background-color: var(--light-gray);
    height: 400px;
    margin-left: 50px;
    overflow: hidden;
    width: 100%;
  }

  #back-button {
    margin-left: 50px;
  }

  .country-flag-detail {
    grid-column: 1/1;
    grid-row: 1/3;

    height: auto;
    max-width: 525px;
    width: 90%;
  }

  #column-one-detail {
    grid-column: 2/6;
    grid-row: 1/1;
  } 

  .card-title-detail {
    font-size: 22px;
    margin-top: 0px;
  }
  
  .card-info-detail-bold {
    font-weight: 800;
  }

  #column-two-detail {
    grid-column: 6/10;
    grid-row: 1/1;

    color: var(--dark-blue-lmt);
    margin-top: 45px;
    margin-left: -20px;
  }

  .dynamic-container p {
    display: inline;
    margin-left: 5px;
  }

  .bottom {
    margin-top: 18px;
  }

  .border {
    grid-column: 2/10;
    grid-row: 1/1;

    font-size: 16px;
    margin-top: 275px;
    margin-right: 20px;
  }

  #border-grid {
    grid-column: 2/10;
    grid-row: 2/2;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;

    height: 40px;
    margin-top: -45px;
  }

  #border-grid div {
    font-size: 1vw;
    margin-right: 10px;
    margin-top: 5px;
    text-align: center;
    width: auto;
  }
}
