body {
  margin: 0;
  font-family: 'Nunito Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media only screen and (max-width: 450) {
  #app {
    color: red;
  }

  #app-header {
    display: flex;
    width: 100%;
  }

  #main-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


}